<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/cart.css">
    <link rel="icon" type="image/x-icon" href="/images/logo_2.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        /* CSS for my-account.ejs */

.formh1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.formh2 {
  font-size: 20px;
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
}

.formDiv {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.col-22{
        margin-left: 270px;
        margin-top: 100px;
    text-align: center;
        
    top: 50%;
    align-items: center;
    color: #fff;
    }

    .col-22 h1{
        font-size: 42px;
    }
    .col-22 p{
        color: #011f4b;
    }
    .navbarr{
    /* width: 85%; */
    width: 100%;
    margin: 0;
    padding: 20px 0px;
    display: flex;
    align-items: center;
   
    /* justify-content: space-between; */
}

.logoo{
    width: 120px;
    cursor: pointer;
}

/* .navbarr ul li{
    list-style: none;
    display: inline-block;
     margin: 0 20px; 
    position: relative;
} */

.col-3 img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.col-3 img{
    border-radius: 20px;
}

.navbarr ul li a{
    text-decoration: none;
    color: #011f4b;
    text-transform: uppercase;
}

.c{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    /* border: 1px solid #fff; */
    padding: 8px 10px;
    /* font-size: 13px; */
    background: transparent;
    /* position: relative; */
    cursor: pointer;
}
.c:hover{
    /* border: 1px solid #fff; */
    background: #fff;
    transition: 1s;
}
.c:hover{
    color: #fff;
}
.c{
    /* border: 1px solid #fff; */
    background: transparent;
    color: #fff;
}

.navbarr ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbarr ul li:hover::after{
    width: 100%;
}

.col-22 .btn{
    display: inline-block;
    background: #009688;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.col-22 .btn:hover{
    background: #4ec9bc;

}



    </style>