<div class="navbarr">
    <div class="logoo">
        <div class="c">
        <a href="/"><img src="images/logo.png" width="125px"></a></div>
    </div>
    <nav>
        <ul id="MenuItems">
            <li><a href="">Home</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">SignUp/Login</a></li>
        </ul>
    </nav>
    <div class="c">
    <a href="/cart"><img src="images/cart.png" width="30px" height="30px"></a></div>
    <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
</div> 