<input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <a href="/dashboard"><h1><span>VeeServe</span></h1></a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/dashboard"><span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/bookings"><span class="las la-shipping-fast"></span>
                        <span>Bookings</span></a>
                </li>
                <li>
                    <a href="/earnings"><span class="las la-hand-holding-usd"></span>
                        <span>Earnings</span></a>
                </li>
                <li>
                    <a href="/change-pass"><span class="las la-key"></span>
                        <span>Change Password</span></a>
                </li>
                <li>
                    <a href="/logout"><span class="las la-user"></span>
                        <span>Log-Out</span></a>
                </li>
            </ul>
        </div>
    </div>