<input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <a href="/dashboard"><h1><span>VeeServe</span></h1></a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/dashboard"><span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/serviceAgents"><span class="las la-users"></span>
                        <span>Service Agents</span></a>
                </li>

                <li>
                    <a href="/bookings"><span class="las la-shipping-fast"></span>
                        <span>Bookings</span></a>
                </li>
                <li>
                    <a href="/cities"><span class="las la-location-arrow"></span>
                        <span>Cities</span></a>
                </li>
                <li>
                    <a href="/services"><span class="las la-bars"></span>
                        <span>Services</span></a>
                </li>
                <li>
                    <a href="/charts"><span class="las la-chart-bar"></span>
                        <span>Charts</span></a>
                </li>
                <li>
                    <a href="/logout"><span class="las la-user"></span>
                        <span>Log-Out</span></a>
                </li>
            </ul>
        </div>
    </div>
