<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset Password</title>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/logo_2.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie-edge" />
        <!--<title> Registration Form in HTML CSS</title> -->
        <!--- Custom CSS File-->
        <link rel="stylesheet" href="/register_style.css" />
    </head>

<body>
    <div class="logo">
        <a href="/"><img src="/images/logo.png" width="180px"></a>
    </div>
    <section class="container">
    <h1>Reset Password</h1>
  <% if (message) { %>
    <h4 style="text-align: center; color: red;"><%=message%></h4>
  <% } %>
  <form action="/reset-password/<%=token%>" class="form" method="post">

    <div class="input-box">
    <label> New Password </label>
    <input type="password" name="password" required placeholder="Password">
    </div>

    <div class="input-box">
    <label> Confirm Password </label>
    <input type="password" name="confirmPassword" required placeholder="Confirm Password">
    </div>
    
    <button>Submit</button>
  </form>
        <button class="btn" onclick="window.location.href='/login'" style="font-size: medium;">Back to Login</button>
    </section>
</body>
</html>
